<%- layout("./layouts/boilerplate.ejs")%>
<div class="row mb-3 mt-4">
    <h1 class="col-6 offset-3">Login-@TraveX</h1>
    <div class="col-6 offset-3">
            <hr>
            <form action="/login" method="post" novalidate class="needs-validation">
                <div class="mb-3">
                        <label for="username" class="form-label">Username:</label>
                        <input type="text" name="username" placeholder="enter username" class="form-control"
                            id="username" required>
                    
                </div>
                
                <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" name="password" placeholder="enter password" class="form-control"
                            id="password" required>
                </div>
                <button class="btn btn-success add-btn mb-3">Login</button>
            </form>
        </div>
</div>